
<head>
  <title><%= @position%></title>
</head>

<h1>
  <%= @position %>
</h1>

<p>
  <ul class = "List-of-everyone">
    <li>
      <ul class = "each-player">
        <li>First Name &nbsp</li>
        <li>Last Name &nbsp</li>
        <li>Team &nbsp</li>
      </ul>
    </li>
    <% @position_array.each do | player| %>
      <li>
        <ul class = "each-player">
          <% player.each do |attribute, value| %>
            <li><%= value %> &nbsp &nbsp</li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</p>
