body {
    /* Use a "Matrix"-style color scheme. */
    background-color: #FFFFFF;
    color: #000000;

    font-family: monospace;
    font-size: 1.5em;
}

.each-player li {
    display: inline-block;
    list-style: none;
    padding-left: 10px;
    font-size:12pt;
}

.navigation-bar1 li {
    display: inline-block;
    list-style: none;
}

.super-bar li{
    list-style:none;
}
